<% layout("/Layouts/boilerplate.ejs")%>
<div class="row mt-3">
  <div class="container-sm alert alert-danger text-center" role="alert">
    <h4 class="mb-0 fs-5 fs-md-4 fs-lg-3"><%= message %></h4>
  </div>
</div>
